.bg-div-contact {
    background-color: #d8d8d8;
    padding-top: 15%;
    padding-bottom: 10%;
  }
  
  .map-div {
    background-color: black;
  }
  
  iframe {
    margin-left: -12px;
    margin-bottom: -6px;
    opacity: 80%;
  }
  
  .contact-div {
    background-color: white;
  }
  
  label {
    color: gray;
  }
  
  .contact-input-box {
    /* margin-top: 12%; */
    border-bottom: 1px solid gray !important;
    box-shadow: transparent;
    border: none;
  }
  
  .submit-btn-contact {
    padding: 2% 8%;
    margin-top: 10%;
    border: none;
    background-color: #ff2424;
    color: white;
  }